body {
    background-color: white;
    background-size: auto;
    margin-left: 0%;
    }

h1,h2 {
    text-align: center;
    text-decoration: wavy;
    color: grey;
    margin:0 auto;
    width: 60%
    padding-bottom 40 px;
}
img {
    border: 1px solid #ddd;
  border-radius: 4px;
  padding: 2px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  opacity: 0.5;
  }

h3 {
    text-align: center;
}
p #introduction{
    text-align: center;
    justify-content: center;
    
}